DISCORD_TOKEN=ton_token_bot

# Logs tickets / transcripts
TICKET_LOGS_ID=id_salon_logs_tickets

# Logs modération / sécurité (tu peux me donner les salons ensuite)
MODERATION_LOGS_ID=id_salon_logs_moderation
SECURITY_LOGS_ID=id_salon_logs_securite

# Giveaway
GIVEAWAY_CHANNEL_ID=id_salon_giveaway
GIVEAWAY_PING_ROLE_NAME=TEAMZINZIN

# Noms des rôles staff
FONDATEUR_ROLE_NAME=Fondateur
MINI_FONDATEUR_ROLE_NAME=Mini Fondateur
GERANT_RECRUTEUR_ROLE_NAME=Gérant recruteur
